/* style.css */
body {
  background-color: #2b2b2b;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  color: #fff;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 20px;
  box-sizing: border-box;
  animation: fadeIn 0.5s ease-in-out;
}


.form {
  background-color: #363636;
  padding: 20px;
  padding-right: 40px;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
}

h2 {
  text-align: center;
  color: #32a852;
}

.form-group {
  margin-bottom: 20px;
}

label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
input[type="password"] {
  width: 100%;
  padding: 10px;
  background-color: #2b2b2b;
  color: #fff;
  border-radius: 4px;
  border: 1px solid #555;
}

/* style.css */
.btn {
  display: block;
  margin: 0 auto; /* Added margin property to center align the button */
  width: 200px; /* Adjust the width as needed */
  padding: 10px;
  background-color: #32a852;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn:hover {
  background-color: #228c45;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.8);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}